<svg preserveAspectRatio="xMinYMin meet" class="hamburger_icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon" width="223" height="149" viewBox="0 0 223 149">
  <defs>
    <clipPath id="clip-path">
      <rect width="223" height="149" fill="none" />
    </clipPath>
  </defs>
  <g id="hamburger_icon_rectangles" clip-path="url(#clip-path)">
    <g id="Repeat_Grid_1" data-name="Repeat Grid 1" clip-path="url(#clip-path)">
      <g transform="translate(-128.5 -176.5)">
        <line id="Line_1" data-name="Line 1" x2="203" transform="translate(138.5 186.5)" />
      </g>
      <g transform="translate(-128.5 -118.5)">
        <line id="Line_1-2" data-name="Line 1" x2="203" transform="translate(138.5 186.5)" />
      </g>
      <g transform="translate(-128.5 -60.5)">
        <line id="Line_1-3" data-name="Line 1" x2="203" transform="translate(138.5 186.5)" />
      </g>
    </g>
  </g>
</svg>