:host {
  display: none;
}

:host.is-open {
  display: block;
}

.side-menu {
  position: fixed;
  width: 400px;
  height: 100%;
  max-width: 30rem;
  background-color: #594a54;
  /* 15px is hack to lower glow on sidebar so it's not over nav */
  box-shadow: 0 15px 2rem #5d5755;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.side-menu a {
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side-menu a:hover {
  color: #FBF3EF;
}

.title {
  display: block;
  color: #eabda8;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  /* margin-top: 1rem; */
}

.menu-body {
  color: #eabda8;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  align-content: center;
}

.external-links {
  font-style: italic;
  color: #eabda8;
  padding-left: 3.5rem;
  font-size: 1.3rem;
}
/* have to be more direct in overriding the link styling */
.external-links a{
  text-decoration: none;
  color: #eabda8;
}

/* make card wider on phones. extra edge space is arbitrary then*/
@media only screen and (max-width: 530px) {
  .side-menu {
    width: 50%;
  }
}
