<aside>
  <!-- The <nav> tag is a new element in HTML5. It is used to define a block of navigation links, either within the current document or to other documents. -->
  <nav class="side-menu">
    <section class="menu-body">
      <nav><a class="title title_link" routerLink="/home">Home</a></nav>
      <br />
      <nav><a class="title title_link" routerLink="/resume">Resume</a></nav>
      <br />
      <nav><a class="title title_link" routerLink="/projects">Projects</a></nav>
      <br />
      <span class="title links_title">External Links</span>
      <section class="external-links">
      <a href="{{ linkedinLink }}" target="_blank">LinkedIn</a>
      <br>
      <a href="{{ githubLink }}" target="_blank">Github</a>
   </section>
    </section>
    <section class="menu-footer"></section>
  </nav>
</aside>
