<!-- <iframe  height="100vh" width="100vw"></iframe> -->

<!-- <iframe src="https://storage.googleapis.com/my-big-ole-bucket/CatherineHenry_Resume_2019.pdf" class="frame"></iframe> -->

<object class="frame" data="https://storage.googleapis.com/my-big-ole-bucket/public%20copy%20of%20resume.pdf" type="application/pdf" typemustmatch>
  <p>You don't have a PDF plugin, but you can <a href="https://storage.googleapis.com/my-big-ole-bucket/public%20copy%20of%20resume.pdf">download the PDF file.</a></p>
</object>