<div class="card">
  <span class="title welcome_title">Welcome,</span>

  <span class="about_text">You will find links to my Linkedin and Github, as well as a PDF of my resume, in the side menu. Please note this page is a work in progress. Thank you for visiting.</span>
  <div class="details">
    <span class="name_text">- Catherine Henry</span>
    <span class="email_text">CatherineMsHenry@gmail.com</span>
  </div>
  <div class="profile-image_container">
    <img src="https://avatars0.githubusercontent.com/u/5890603?s=460&v=4" alt="profile-image" class="profile_image" />
  </div>
</div>
